<!-- Title and splash image -->
<header><h1>Veranus</h1></header>
<div class="loginWrapper">
  <!-- Box for logging in or creating new account -->
  <div class="loginBox">
    <h2>{{newUser ? 'Create account' : 'Login'}}</h2>

    <div class="inputArea">
        <!-- Error message -->
        <div class="errorBox"
            [style.display]="showError ? 'block' : 'none'">
        {{errorMessage}}
        </div>

        <!-- Input fields -->
        <label for="usernameInput">Username</label><br>
        <input #Username id="usernameInput" class="textInput" (keyup.enter)="submit()"><br>
        <label for="passwordInput">Password</label><br>
        <input #Password id="passwordInput" type="password" class="textInput" (keyup.enter)="submit()"><br>

        <!-- Confirm password field, only shown when creating new user -->
        <div [style.display]="newUser ? 'block' : 'none'">
        <label for="confirmPasswordInput">Confirm Password</label><br>
        <input #ConfirmPassword id="confirmPasswordInput" type="password" class="textInput" (keyup.enter)="submit()"><br>
        </div>

        <!-- Submit buttons -->
        <input class="submitButton button" type="button" value="Log In" (click)="attemptLogin()" [style.display]="newUser ? 'none' : 'block'">
        <input class="submitButton button" type="button" value="Create User" (click)="attemptNewUser()" [style.display]="newUser ? 'block' : 'none'">
        {{newUser ? 'Already have an account?' : 'New to ENotes?'}} <a href="/NO" (click)="$event.preventDefault(); newUser = !newUser">{{newUser ? 'Log in!' : 'Create an account!'}}</a>
    </div>
  </div>
</div>
