<!-- Header -->

<header><img src="assets/Veranus_name.png" alt="Veranus" width="25%"><a href="/logout" class="logout button">Logout</a></header>

<!-- Main page body -->
<div class="pageArea">
    <!-- Back button -->
    <a href="/" class="back button">Back</a>

    <!-- Device title -->
    <div class="centeredArea">
        <h2 class="centeredArea deviceNameHeader">{{device.name}}</h2>
        <img src="{{ 'images/' + this.device.id}}" class="deviceImage" alt="" style="height: auto;"><br>
    </div>
    <br>

    <!-- Device thresholds -->
    <div #ThresholdsContainer class="pageSection">
        <h2>Device Thresholds:</h2>
        <p><span style="font-weight:bold;">Set the thresholds at which warnings should trigger.</span><br>
        <span class="safeText colorExample">Green</span> indicates safe conditions<br>
        <span class="warningText colorExample">Yellow</span> indicates a warning that conditions are worsening<br>
        <span class="dangerText colorExample">Red</span> indicates dangerous conditions</p>
        <!-- Temperature Range Slider -->
        <div class="thresholdSlider">
            <h3 class="rangeLabel">Temperature</h3>
            <app-range-slider
                style="width:100%"
                [minVal]="minTemperature"
                [maxVal]="maxTemperature"
                [valueRange]="device.temperatureRange"
                [scale]="20"
                [unitLabel]="'°F'"
                class="rangeSliderContainer"
            ></app-range-slider>
        </div>
        <!-- Humidity Range Slider -->
        <div class="thresholdSlider">
            <h3 class="rangeLabel">Humidity</h3>
            <app-range-slider
                style="width:100%"
                [minVal]="minPercent"
                [maxVal]="maxPercent"
                [valueRange]="device.humidityRange"
                [scale]="20"
                [unitLabel]="'%'"
                class="rangeSliderContainer"
            ></app-range-slider>
        </div>
        <!-- Light Range Slider -->
        <div class="thresholdSlider">
            <h3 class="rangeLabel">Light</h3>
            <app-range-slider
                style="width:100%"
                [minVal]="minPercent"
                [maxVal]="maxPercent"
                [valueRange]="device.lightRange"
                [scale]="20"
                [unitLabel]="'%'"
                class="rangeSliderContainer"
            ></app-range-slider>
        </div>
        <input type="button" class="button largeSettingsButton" value="Save Settings" (click)="saveRanges()">

    </div>
    <!-- Upload image -->
    <div class="pageSection">
        <h2>Upload Image</h2>
        <p>Upload an image for this device.</p>
        <input type="file"  #UploadFile accept="image/x-png,image/gif,image/jpeg"><br>
        <input type="button" class="button" value="Upload Image" (click)="uploadImage()">
        <input type="button" class="button deleteButton" value="Remove Image" (click)="removeImage()">
    </div>
    <!-- Delete -->
    <div class="pageSection">
        <h2>Delete this device</h2>
        <p>WARNING this will permanently delete all recorded readings from this device</p>
        <input type="button" class="button largeSettingsButton deleteButton" value="Delete Device" (click)="deleteDevice()">
    </div>
</div>