.barSegment
{
    display: inline-block;
    vertical-align: middle;

    margin-left: 10px;
}

.deviceBar
{
    background-color:#955E42;

    border: 2px solid black;
    border-radius: 5px;

    padding: 5px 15px;
    margin: 5px 0;

    font-weight: bolder;
    font-size: 2em;

    cursor: pointer;
}

.readingType
{
    font-size: 0.5em;
    text-align: center;
}

.timestamp
{
    font-size: 0.4em;
}