<div class="deviceBar">
    <div class="barSegment">{{device.name}}</div>
    <div class="barSegment">
        <div class="readingType">Temperature</div>
        <app-data-view
            [value]="device.lastReading.temperatureF"
            [label]="' &deg;F'"
            [valueRange]="device.temperatureRange"></app-data-view>
    </div>
    <div class="barSegment">
        <div class="readingType">Humidity</div>
        <app-data-view
            [value]="device.lastReading.humidity"
            [label]="'% rH'"
            [valueRange]="device.humidityRange"></app-data-view>
    </div>
    <div class="barSegment">
        <div class="readingType">Light</div>
        <app-data-view
                [value]="device.lastReading.light"
                [label]="'%'"
                [valueRange]="device.lightRange"></app-data-view>
    </div>
    <div class="barSegment timestamp">
        Last update: <br/>
        <app-timestamp [timeMs]="device.lastReading.timestamp"></app-timestamp>
    </div>
    <div class="barSegment"><input type="image" src="assets/gear.png" alt="Settings" class="button" (click)="openDeviceSettings()"/></div>
    
</div>
