.pageWrapper{
    text-align: center;
}

.deviceListWrapper{
    background-color:  #553739;
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px;
    display: inline-block;
    text-align: left;
}

.deviceBar
{
    background-color:#955E42;

    border: 2px solid black;
    border-radius: 5px;

    padding: 5px 15px;
    margin: 5px 0;

    font-weight: bolder;
    font-size: 2em;

    cursor: pointer;
}

#newDevicePrompt
{
    font-size: 0.5em;
}