.graphLabel{
    text-align: center;
    margin-top: 50px;
}
.graphWrapper{
    margin: auto;
    width: 80%;
}

.graphOptions{
    text-align: center;
    margin: 10px;
}

.graphOptionText{
    font-weight: bold;
    margin: 0px 5px 0px 20px;
}