#RangeSlider
{
    display: block;
}

.sliderCanvas
{
    border:2px solid #000000;
}

.thumb
{
    display: block;
    margin: auto;
    border: 2px solid black;
    pointer-events:all;
}

.thumbLabel
{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    margin: auto;

    padding: 2px;
    background-color: #232020;
    border-radius: 8px;
    pointer-events:all;
}

.thumb:hover
{
    cursor: grab;
}

.thumbLabel:hover
{
    cursor: grab;
}

.fullThumbBlock
{
    display: inline-block;
    position: absolute;
    text-align: center;
    pointer-events: none;
}